.itemDetails {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;

  div {
    background: #11111180;
    border-radius: 8px;
    padding: 24px;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}
